@elabcom rc file Version 1.0
[oh]
invokeDir = /home/ian/project/uvm_sha1/vcs
hostCommand = -lib simv.daidir/work -saveLevel -elab simv.daidir/kdb -simflow -simdir simv.daidir/kdb_libs -top tb_sha_1 -Lf work +disable_message+C00380+C00381 +disable_message+C00388+C00389 -SNPS_ELABCOM -saveElab
simType = VCS
